@import "../utils/parameters";

.celebration-section {
    background: $c-primary;
    padding: 16rem 0 7.5rem 0;
    margin-bottom: 6.8rem;
    &__row {

    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 17.9rem;
    }

    &__text {
        width: 50%;
        padding: 17.5rem 0 0 9rem;
    }

    &__title {
        font-weight: bold;
        font-size: 3rem;
        line-height: 1.43;
        color: $c-text;
        margin-bottom: 1rem;
    }

    &__description {
        font-size: 1.4rem;
        line-height: 1.71;
        color: $c-text2;
        max-width: 35.3rem;
        margin-bottom: 3.5rem;
    }

    &__link {
        font-size: 1.2rem;
        line-height: 1.15;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        color: #DE470D;
        display: inline-block;
        transition: transform 1s ease; 
    }

    &__link:hover {
        transform: scale(1.2, 1.2);
    }

    &__block-imgs {
        padding: 0 1.5rem;
    }

    &__block-title {
        font-weight: bold;
        font-size: 4.5rem;
        line-height: 1;
        color: $c-text;
        margin-bottom: 10rem;
        text-align: center;
    }

    &__link:hover {
        color: $c-secondary;
    }
}

.content__img17 {
    max-width: 38.54vw;
}

.block-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__img-row {
        max-width: 26.2rem;
        position: relative;
        margin: 0.5rem 1rem 1.5rem 1rem;
    }

    &__img-row::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 26.2rem;
        height: 26.2rem;
        background: rgba(52, 52, 52, 0.15);
    }

    &__img {
        max-width: 100%;
    }
}

@media screen and (max-width: $md) {

    .celebration-section__text {
        width: 100%;
        padding: 10rem 0 0 0rem;
        text-align: center;
        margin: 0 auto;
    }

    .celebration-section__description {
        margin: 0 auto;
        margin-bottom: 3.5rem;
    }
}

@media screen and (max-width: $md) {
    .celebration-section {
        padding: 10rem 0 4rem 0;
    }
}

@media screen and (max-width: $xs) {
    .celebration-section { 
        padding: 6rem 0 4rem 0;
        &__block-title {
            font-size: 4rem;
        }

        &__text {
            padding: 6rem 0 0 0rem;
        }

        &__content {
            margin-bottom: 6rem;
        }
    }
}