// для каждого компонента нужно импортить переменные, чтобы их использовать
@import "../utils/parameters";
@import "../utils/mixins";


.header {
    position: relative;
    
    &__row {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        max-width: 1310px;
        padding: 3.5rem 0.5rem 0;
        margin: 0 auto;
    }

    &__content {
        display: flex;
    }

    &__menu {
        position: relative;
    }

    &__links {
        display: flex;
        width: 45%;
    }
        
    &__a{
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 1.5;
        letter-spacing: 0.05rem;
        text-transform: capitalize;
        color: $c-text;
        margin-right: 4.1rem;
        display: inline-block;
        padding: 1rem;
    }

    &__a:hover + .menu, .menu:hover {
        opacity: 1;
        visibility: visible;
        transform: translateY(-3rem);
    }

    &__logo {
        width: 55%;
    }

    &__link {
    }
}

.menu {
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    background: $c-primary;
    padding: 2rem;
    &__a {
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 1.5;
        letter-spacing: 0.05rem;
        text-transform: capitalize;
        color: $c-text;
    }
}

.menu__a:hover {
    color: $c-text2;
}

@media screen and (max-width: $sm) {
    .header {
        &__links {
            width: 70%;
        }

        &__logo {
            width: 30%;
            text-align: right;
        }
    }
}

@media screen and (max-width: $xs) {
    .header {
        &__links {
            width: 100%;
            text-align: center;
            margin-bottom: 3rem;
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
        }

        &__logo {
            width: 100%;
            text-align: center;
        }

        &__a{
            margin: 0 3rem;
        }
    }
}

.logo1:hover path {
    fill: #fff;
}