@import "../utils/parameters";

@keyframes sp {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.main-section {
    background: url("../imgs/img1.png");
    background-size: cover;
    padding: 23.5rem 0 2rem 0;
    margin-bottom: 20.4rem;

    &__row {

    }

    &__content {
        text-align: center;
    }

    &__title {

        font-weight: bold;
        font-size: 8rem;
        line-height: 1.12;
        letter-spacing: 0.1rem;
        color: $c-text;
        max-width: 57rem;
        margin: 0 auto;
        margin-bottom: 5rem;

        span {
            font-size: 8rem;
            line-height: 1.12;
            letter-spacing: 1px;
            color: #DE470D;
            display: inline-block;
            transform-origin: 50% 35%;
        }
    }

    &__title span {
        animation: sp 5s infinite linear;
    }

    &__a {
        display: inline-block;
        padding: 2rem 7rem;
        background: #FABAA0;
        border-radius: 0.8rem;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.71;
        text-align: center;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        color: $c-text2;
        display: inline-block;
        margin-bottom: 16.5rem;
        transition: 1s ease;
    }

    &__a:hover {
        background: $c-text2;
        color: #FABAA0;
        text-decoration: none;
    }

    &__block {
        padding: 2rem;
        background-color: #708D92;
        margin-bottom: -13rem;
    }
}

.links {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    &__li {
        padding: 0 2.5rem;
        margin-bottom: 2rem;
    }

    &__a {
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.71;
        color: #2B2B2B;
    }
}

.block {
    display: flex;
    flex-wrap: wrap;

    &__first {
        padding: 3.5rem 7.5rem 2.8rem 8rem;
    }

    &__second {
        padding: 4rem 3.2rem 4rem 4rem;
    }

    &__third {
        padding: 3rem 6rem 3rem 6.7rem;
    }

    &__fourth {
        padding: 3.6rem 0rem 2.5rem 0;
    }

    &__title {
        font-size: 2.4rem;
        line-height: 1.42;
        letter-spacing: 0.05rem;
        color: #FFF;
        margin-bottom: 3rem;
    }

    &__description {
        font-size: 1.2rem;
        line-height: 1.83;
        color: #FFF;
        max-width: 20rem;
    }

    &__dollars {
        font-size: 4.5rem;
        line-height: 1.5;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        color: #FFF;
    }

    &__text {
        font-size: 1.2rem;
        line-height: 1.5;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        color: #FBDCC5;
        display: inline-block;
    }

    &__text-a {
        font-size: 1.2rem;
        line-height: 1.5;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        color: #FBDCC5;
        display: inline-block;
        padding: 0.5rem;
        transition: 1s ease;
    }

    &__text-a:hover {
        color: #708D92;
        background-color: #FBDCC5;
        border-radius: 0.8rem;
        text-decoration: none;
    }
}

.blocks {
    border: 0.1rem solid #fff;
}

.rectangle {
    border-top: 0.1rem solid #fff;
}

@media screen and (max-width: $md) {
    .block {
        justify-content: center;
    }
}

@media screen and (max-width: $sm) {
    .main-section__title {
        font-size: 7.4rem;
    }
}

@media screen and (max-width: $xs) {
    .main-section__title {
        font-size: 4.5rem;
    }

    .block {
        &__first {
            padding: 3rem 3.4rem 2rem 3.4rem;
        }
        &__second {
            padding: 3rem 2rem 3rem 2rem;
        }
        &__third {
            padding: 3rem 2rem 3rem 2rem;
        }
        &__fourth {
            padding: 3rem 0rem 2.5rem 0;
        }
        &__dollars {
            font-size: 3.6rem;
        }
    }
    .links {
        margin-bottom: 3rem;
    }
}