section.boonletter-section
    .container.boonletter-section__row 
        .boonletter-section__title Boonletter
        .boonletter-section__description Treat yourself with weekly product releases, digital love, and exclusive deals.
        .boonletter-section__inputs 
            input.input.boonletter-section__first-input(type="text" placeholder="First name")
            input.input.boonletter-section__second-input(type="email" placeholder="Email adress")
            a.boonletter-section__link(href="#") Go