section.care-section
    .container.care-section__row
        .content
            .content__block-second 
                .content__text Collection
                .content__title Toxin-Free Personal Care
                .content__description All-natural toxin-free care for every body. 
                a(href="#").content__link Shop Now
            .content__row-img-second
                img.content__img(src="./assets/imgs/img15.png" alt="картинка")