section.care-section
    div.container.care-section__row
        div.content
            div.content__block-second 
                div.content__text Collection
                div.content__title Toxin-Free Personal Care
                div.content__description All-natural toxin-free care for every body. 
                a(href="#").content__link Shop Now
            div.content__row-img-second
                img.content__img(src="./assets/imgs/img15.png" alt="картинка")