section.celebration-section
    .container.celebration-section__row 
        .celebration-section__content
            .content__row-img
                img.content__img(src="./assets/imgs/img17.png", alt="картинка")
            .celebration-section__text 
                    .celebration-section__title Celebrating Every Age 
                    .celebration-section__description Rachel Peters marketed big brands before the need for deodorant and personal care products for her preteens inspired her to start Clean Age alongside h...
                    a(href="#").celebration-section__link Read More
    .celebration-section__block-imgs
        .celebration-section__block-title #ShopForGood
        .block-imgs 
            .block-imgs__img1
            .block-imgs__img2
            .block-imgs__img3
            .block-imgs__img4
            .block-imgs__img5
            .block-imgs__img6
            .block-imgs__img7
            .block-imgs__img8
            .block-imgs__img9
            .block-imgs__img10