section.celebration-section
    div.container.celebration-section__row 
        div.celebration-section__content
            div.content__row-img
                img.content__img17(src="./assets/imgs/img17.png", alt="картинка")
            div.celebration-section__text 
                    div.celebration-section__title Celebrating Every Age 
                    div.celebration-section__description Rachel Peters marketed big brands before the need for deodorant and personal care products for her preteens inspired her to start Clean Age alongside h...
                    a(href="#").celebration-section__link Read More
    div.celebration-section__block-imgs
        div.celebration-section__block-title #ShopForGood
        div.block-imgs
            mixin imgs(img)
                div.block-imgs__img-row
                    img.block-imgs__img(src=img, alt="картинка")
            +imgs('./assets/imgs/img18.png')
            +imgs('./assets/imgs/img19.png')
            +imgs('./assets/imgs/img20.png')
            +imgs('./assets/imgs/img21.png')
            +imgs('./assets/imgs/img22.png')
            +imgs('./assets/imgs/img23.png')
            +imgs('./assets/imgs/img24.png')
            +imgs('./assets/imgs/img25.png')
            +imgs('./assets/imgs/img26.png')
            +imgs('./assets/imgs/img27.png')