section.coffee-section
    .container.coffee-section__row
        .content
            .content__row-img
                img.content__img(src="./assets/imgs/img16.png", alt="картинка")
            .coffee-section__block
                .content__text Collection
                .content__title Coffee & Tea
                .content__description Give back every morning with your first sip. 
                a(href="#").content__link Shop Now