section.coffee-section
    div.container.coffee-section__row
        div.content
            div.content__row-img
                img.content__img(src="./assets/imgs/img16.png", alt="картинка")
            div.coffee-section__block
                div.content__text Collection
                div.content__title Coffee & Tea
                div.content__description Give back every morning with your first sip. 
                a(href="https://7lesha.github.io/pr-aleksei/dist/index.html").content__link Shop Now