footer.footer
    div.container.footer__row 
        div.footer__content 
            div.footer__boonlett
                table.boonlett 
                    tr.boonlett__tr 
                        td.boonlett__td 
                            a(href="https://7lesha.github.io/pr-aleksei/dist/index.html") 
                                img.boonlett__img(src="./assets/imgs/img28.svg", alt="картинка")
                        td.boonlett__boon-text  boon (def.)
                    tr.boonlett__tr 
                        td.boonlett__description(colspan="2") Something very beneficial or helpful
                div.boonlett__text Copyright Boon Supply 2021. All Rights Reserved
            div.footer__links-b 
                mixin link(titles, first, second, third)
                    div.links-b
                        div.links-b__title=titles
                        ul.links-b__ul 
                            li.links-b__li 
                                a(href="https://7lesha.github.io/pr-aleksei/dist/index.html").links-b__links=first
                            li.links-b__li 
                                a(href="https://7lesha.github.io/pr-aleksei/dist/index.html").links-b__links=second
                            li.links-b__li 
                                a(href="https://7lesha.github.io/pr-aleksei/dist/index.html").links-b__links=third
                +link('Shop','Shop All Items','Shop Reusable','Shop Toxin Free')
                +link('About','About Boon Market','The Boon Life','')
                +link('Support','Contact Us','Terms of Service','Privacy Policy')
