section.fresh-section
    div.container.fresh-section__row 
        div.fresh-section__title What's Fresh
        mixin collection(img, title, description)
            div.content
                div.content__row-img
                    img.content__img(src=img, alt="картинка")
                div.content__block 
                    div.content__text Collection
                    div.content__title=title 
                    div.content__description=description 
                    a(href="https://7lesha.github.io/pr-aleksei/dist/index.html").content__link Shop Now
        +collection('./assets/imgs/img14.png','Waste-Free Kitchen & Lunch','Simple swaps with big environmental impact.')
