header.header 
    div.header__row 
        div.header__content
            div.header__links
                mixin menu(title)
                    div.header__menu
                        a.header__a(href="https://7lesha.github.io/pr-aleksei/dist/index.html")=title
                        div.menu
                            a.menu__a(href="https://7lesha.github.io/pr-aleksei/dist/index.html") Shop
                            br
                            a.menu__a(href="https://7lesha.github.io/pr-aleksei/dist/index.html") Shop
                            br
                            a.menu__a(href="https://7lesha.github.io/pr-aleksei/dist/index.html") Shop
                +menu('Shop')
                +menu('The Boon Life')
            div.header__logo
                a.header__link(href="https://7lesha.github.io/pr-aleksei/dist/index.html")  
                    include ./logo1