section.main-section 
    .container.main-section__row 
        .main-section__content 
            ul.links 
                li.links__li
                    a.links__a(href="#") Conscious Kitchen
                li.links__li
                    a.links__a(href="#") Conscious Pantry
                li.links__li
                    a.links__a(href="#") Eco Cleaning
                li.links__li
                    a.links__a(href="#") Personal Care
                li.links__li
                    a.links__a(href="#") Bags & Totes
                li.links__li
                    a.links__a(href="#") Gifts
            h1.main-section__title Shop Goods That Do Good 
                span *
            a.main-section__a(href="#") Shop now
            .main-section__block 
                .block
                    .block__first.blocks
                        .block__title The Boon Impact
                        .block__description Every purchase gives money directly to a cause of your choice.
                    .block__second.blocks
                        .block__dollars $100,664,335
                        .block__text donated to date
                    .bloks
                        .block__third.blocks
                            .block__text Want to make a difference?
                        .block__fourth.blocks
                            a.block__text(href="#") Learn More

