section.main-section 
    div.container.main-section__row 
        div.main-section__content 
            nav.main-section__nav
                ul.links 
                    li.links__li
                        a.links__a(href="https://7lesha.github.io/pr-aleksei/dist/index.html") Conscious Kitchen
                    li.links__li
                        a.links__a(href="https://7lesha.github.io/pr-aleksei/dist/index.html") Conscious Pantry
                    li.links__li
                        a.links__a(href="https://7lesha.github.io/pr-aleksei/dist/index.html") Eco Cleaning
                    li.links__li
                        a.links__a(href="https://7lesha.github.io/pr-aleksei/dist/index.html") Personal Care
                    li.links__li
                        a.links__a(href="https://7lesha.github.io/pr-aleksei/dist/index.html") Bags & Totes
                    li.links__li
                        a.links__a(href="https://7lesha.github.io/pr-aleksei/dist/index.html") Gifts
            h1.main-section__title Shop Goods That Do Good 
                span *
            a.main-section__a(href="https://7lesha.github.io/pr-aleksei/dist/index.html") Shop now
            div.main-section__block 
                div.block
                    div.block__first.blocks
                        div.block__title The Boon Impact
                        div.block__description Every purchase gives money directly to a cause of your choice.
                    div.block__second.blocks
                        div.block__dollars $100,664,335
                        div.block__text donated to date
                    div.bloks
                        div.block__third.blocks
                            div.block__text Want to make a difference?
                        div.block__fourth.blocks
                            a.block__text-a(href="https://7lesha.github.io/pr-aleksei/dist/index.html") Learn More

