section.work-section
    .container.work-section__row 
        .work-section__content 
            .work-section__description About Boon
            .work-section__title How We Work  
            .work-section__good
                .good
                    img.good__img(src="./assets/imgs/img2.png", alt="картинка")
                    .good__title * 
                        span Good For You
                    .good__text We feature clever, beautiful products that are zero-waste, non-GMO, and toxin-free.
                .good
                    img.good__img(src="./assets/imgs/img3.png", alt="картинка")
                    .good__title * 
                        span Good For The Planet
                    .good__text Our zero-waste products and featured articles make it easy for anyone to make easy swaps with big environmental benefit.
                .good
                    img.good__img(src="./assets/imgs/img4.png", alt="картинка")
                    .good__title * 
                        span Good For The Community
                    .good__text Each purchase made on Boon Market sends money to the cause of your choice.