section.work-section
    div.container.work-section__row 
        div.work-section__content 
            div.work-section__description About Boon
            div.work-section__title How We Work  
            div.work-section__good
                div.good
                    img.good__img(src="./assets/imgs/img2.png", alt="картинка")
                    div.good__title * 
                        span Good For You
                    div.good__text We feature clever, beautiful products that are zero-waste, non-GMO, and toxin-free.
                div.good
                    img.good__img(src="./assets/imgs/img3.png", alt="картинка")
                    div.good__title * 
                        span Good For The Planet
                    div.good__text Our zero-waste products and featured articles make it easy for anyone to make easy swaps with big environmental benefit.
                div.good
                    img.good__img(src="./assets/imgs/img4.png", alt="картинка")
                    div.good__title * 
                        span Good For The Community
                    div.good__text Each purchase made on Boon Market sends money to the cause of your choice.