doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Boon Market
        link(rel="stylesheet", href="./assets/css/app.css")
    body.wrapper 
        //- здесь компоненты страницы
        include components/article
        include components/header
        main.main 
            include components/main-section 
            include components/work-section
            include components/shop-section
            include components/fresh-section
            include components/care-section
            include components/coffee-section
            include components/celebration-section
            include components/boonletter-section   
        include components/footer


