//GRID
//точки адаптива
$md: 1140px;
$sm: 768px;
$xs: 576px;


//Цвета макета
$c-primary: #F7F5F2;//основной цвет макета
$c-secondary: #708D92;//дополнительный цвет макета
$c-text: #343434;//основной цвет текста макета
$c-text2: #747474;//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Roboto', sans-serif;//основной
$headers-font: 'Roboto', sans-serif;//для заголовков
$secondary-font: 'Roboto', sans-serif;//дополнительный
